/*
wood brown: A89F68;
army green: 41521F;
*/
/*first-section*/

*{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;

}

.first-section{
	background: url(../img/portada.jpg);	
	height:90vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.navbar-default{
	background-color: transparent;
	border: none;
	padding-bottom: 30px;
}

.navbar-collapse .navbar-right li a{
	color: white;
	font-weight: bold;
	position: relative;
	right: 60px;
}

.navbar-left li{
	color: white;
	font-weight: bold;
	padding-left: 80px;
	padding-top: 16px;
}

.texto-uno h1{
	color: white;
	font-weight: bold;
	font-size: 30px;
	padding-left: 100px;
	padding-top:100px;
}

.texto-uno p{
	color: white;
	font-weight: bold;
	padding-left: 100px;
	}

.row button{
	margin-top: 3px;
	margin-left: 100px;
}


/*second-section*/

.second-section{
	height: 850px;
}

.img-responsive{
	padding-top: 50px;
	padding-left: 30px;
}

.foundation{
	font-size: 12px;
	font-weight: bold;
	padding-top: 170px;
	padding-left: 14px;
	color: #4c4684;
}

.parrafo-uno{
	font-size: 30px;
	font-weight: bold;
	color: #a89f68;
	padding-left: 14px;
}

.parrafo-dos{
	color: #4c4684;
	font-weight: bold;
	padding-left: 14px;
}

h3{
	color: #a89f68;
	font-weight: bold;
}

.parrafo-tres{
	color: #4c4684;
	font-weight: bold;
}

/*third-section*/

.third-section{
	background-color: #a89f68;
	height: 65vh;
}

h4{
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding-top: 15%;
}

h5{
	color: #41521f;
	font-weight: bold;
	font-size: 16px;
	padding-top: 10px;
}

#parrafo-cuatro{
	color: white;
	font-weight: bold;
}

.btn-default{
	background-color: #41521f;
	color: white;
	font-weight: bold;
	position: relative;
	right: 100px;
}

#cosita{
    width: 100%;
    border: 10px solid white;
    margin-right: 50px;
}

/*fourth-section*/

.fourth-section{
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h6{
	color: white;
	font-weight: bold;
	padding-top: 60px;
	padding-left: 5px;
}

#parrafo-cinco{
	color: white;
	font-weight: bold;
	font-size: 15px;
}

#parrafo-seis{
	color: white;
	font-weight: bold;
	font-size: 12px;
}

/*fifth-section*/

.fifth-section{
	height: 55vh;
}

#icono{
	padding-top: 30px;
	color: #a89f68;
	}

#texto{
	color: #a89f68;
	font-weight: bold;
	font-size: 20px;
	
}

#parrafo-siete{
	color: #4c4684;
	font-weight: bold;
	padding-top: 10px;
}

p{
	color: #4c4684;
	font-weight: bold;
	
}

#parrafo-nueve{
	color: #4c4684;
	font-weight: bold;
	padding-top: 7px;
}


/*six-section*/
.section-six {
	background: #A89F68;
	height: 600px;

}
.pay {
	font-size: 70px;
	color: white;

} 

.pay sup {
	font-size: 20px;
	color: white;

} 

.pay sub {
	font-size: 12px;
	color: white;

} 

.text1 {
	color: #41521F;
	font-weight: bold;
	margin-top: 50px;
	font-size: 18px;
}

.section-six h6{
	font-size: 12px;
	color: #41521F;
	position: relative;
	right: 231px;
}

.section-six p{
	font-size: 16px;
	font-weight: bold;
	position: relative;
	right: 10px;
}
	
hr{
	width: 50%;
	margin-left: 100px;
}

.section-six button{

	background: #41521F;
	border: none;
	font-weight: bold;
	position: relative;
	right: 61px;
}


/*footer*/

.section-footer {
	background: #41521F;
	height: 300px;
}

.textfooter {
	margin-top: 67px;
	margin-left: -319px;
	color: #a89f68;
}

.containerfooter p{
	padding: 20px;
	padding-top: 0px;
	padding-left: 80px;
	color: white;
}
.section-footer span{
	font-weight: bold;
	color: #a89f68;
}

.containerfooter {
	list-style: none;
    text-decoration: none;
}

#column {

	padding: 60px;
	margin-top: 63px;

}


