/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;

}

.navbar{
	background-color: transparent;
	font-weight: 900;
}

.first-section{
	background: url(../img/portada.jpg);	
	height:100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

ul li a{
	color: white;
}

.texto{
	color: white;
	padding-left: 60px;
	padding-top: 300px;	
	font-weight: bold;
}

.texto .dos{
	font-size: 30px;
	font-weight: bold;
}

/*Second-section*/

.img-responsive{
	padding-top: 30px;
}


#foundation{
	padding-top: 200px;
	font-size: 15px;
	color: #A89F68;
	font-weight: bold;
}

.texto-koalas{
	font-size: 30px;
	color: #41521F;
	font-weight: bold;
}

#texto1{
	color: #41521F;
	font-size: 20px;
	font-weight: bold;
}

#texto2{
	color: #41521F;
	font-size: 20px;
	font-weight: bold;
}

#parrafo1{
	color: #A89F68;
}

/*third-second*/

.third-second{
    background-color: #A1AB52;
    padding-top: 80px;
    padding-bottom: 80px;
}

.cosita-col{
    margin-top: 40px;
}

.col_koala h3{
    color: #A89F68;
}

.col_koala p a{
    color: #A89F68;
}

#easy{
    font-weight: bold;
    color: white;
    font-size: 15px;
}

#texto3{
    font-weight: bold;
    color: #41521F;
    font-size: 1.5em;
}

.parr{
	font-weight: bold;
    color: white;
    font-size: 15px;
}

#cosita{
    width: 100%;
    border: 10px solid white;
    margin-right: 50px;
}

/*fourth-second*/

.fourth-second{
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.help{
	color: white;
	font-weight: bold;
	padding-top: 40px;
	font-size: 10px;
}

.tree{
	padding-right:60px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}

.dick{
	right: 100px;
	font-weight: bold;
	color: white;
	font-size: 10px;
}

/*five-second*/
.five-second{
	color: #A89F68;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.cinco{
	margin:5%;
}

.textcinco{
	margin-top: 2%;
	color: #082A61;
}

#icono{
	color: #A89F68;
	font-size: 60px;
	margin-bottom: 10%;
}

.titulocinco{
	color: #A89F68;
	font-weight: bold;
}
/*six-second*/
.seis{
	background-color: #A1AB52;

}

.tituloseis{
	color: #41521F;
	font-weight: bold;	
	margin-top: 50px;

}
.textseis{
	color: #41521F;
	padding: 30px;
	
}

.num{
	color: white;
	font-size: 70px;
}

.linea{
	border-bottom: 1px solid white;
	margin: 10%;
}

#donate{
	margin-bottom: 10%;
}

#dolar{
	color: white;
	position: absolute;
	margin-left: -50px;
	margin-top: 20px;
}

.aud{
	color: white;
	position: absolute;
	margin-left: 55%;
	margin-top: -35px;

}


/*footer*/
.pie{
	background-color: #41521F;
	padding:50px;
	color: #A89F68;
}

.verde{
	color: #A89F68;
	
	
}

.blanco{
	color: white;
}

#mouse{
cursor: pointer;
}